/* Table
--------------------------------------------- */

.wp-block-table {
	&.is-style-stripes {
		border-bottom: none;

		tbody tr:nth-child(odd) {
			background-color: var(--wp--preset--color--blue);
		}
	}

	table {
		border-collapse: collapse;
	}

	td,
	th {
		padding: var(--wp--preset--spacing--xx-small);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	th {
		font-weight: var(--wp--custom--font-weight--bold);
		font-size: var(--wp--preset--font-size--caption);
	}

	figcaption {
		font-size: var(--wp--preset--font-size--caption);
	}
}
