/* Table
--------------------------------------------- */

.wp-block-table.is-style-stripes {
	border-bottom: none;
}

.wp-block-table table {
	border-collapse: collapse;
}

.wp-block-table th {
	font-weight: var(--wp--custom--font-weight--bold);
	font-size: var(--wp--preset--font-size--h-6);
}

.wp-block-table td,
.wp-block-table th {
	padding: 4px;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: var(--wp--preset--color--blue);
}
